<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head');%>
</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <h1>
            Add a new Pokemon
        </h1>
        <div class="row">
            <form action="/pokemon" method="POST">
                <label for="name">Pokemon Name</label>
                <input class="u-full-width" type="text" placeholder="Enter Pokemon name here" id="name" name="name" />
                <input class="button-primary" type="submit" value="Add Pokemon" />
            </form>
        </div>

        <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>